.godot/
builds/
output/
image/
android/build/.gradle/
android/build/build/
android/build/assets/
android/build/src/debug/
android/build/src/release/
android/build/local.properties
android/build/assetPacks/installTime/src/
android/build/assetPacks/installTime/build/
android/build/assetPackInstallTime/src/main/assets/
android/build/assetPackInstallTime/build/
tools/godot45_download/
*.translation
*.gdc
*.gd.remap
*.tscn.remap
export_credentials.cfg
export.log
export-admob.log
private/
*.jks
*.keystore
hs_err_pid*.log
*.lnk
*.tmp
